/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.green-section {
  padding-left: 15em;
  background-color: #1a9473;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10em;
}

.different-section {
  /* Add your styles for the different section here */
}

.container {
  max-width: 800px;
  margin-left: 20px; /* Adjusted margin */
  text-align: left; /* Align text to left */
}

h1 {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-right: 20px; /* Adjusted margin */
}

.dropdown {
  font-size: larger;
  border-style: solid;
  border-color: #1a5f4c;
  width: 18em;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 8em;
}

.dropbtn {
  background-color: #1a9473;
  color: white;
  padding: 12px 18px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a9473;
  width: 243px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-style: solid;
  border-color: #1a5f4c;
  border-radius: 4px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

img {
  display: flex;
  justify-content: flex-end;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #2980b9;
}

.spot-container {
  padding: 5em;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location {
  border: 1px solid black;
  padding: 10px;
}

.location-spots {
  display: grid;
  grid-template-columns: repeat(35, 2fr);
  row-gap: 50px;
}

.spot-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 150px;
  column-gap: 100px;
}

.spot {
  width: 2em;
  height: 50px;
  border: 2px solid black;
  gap: 50px;
}

.available {
  background-color: green;
}

.occupied {
  background-color: red;
}
