.spot-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.location {
  border: 1px solid black;
  padding: 10px;
}

.location-spots {
  display: grid;
  grid-template-columns: repeat(35, 2fr);
  row-gap: 50px;
}

.spot-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 150px;
  column-gap: 100px;
}

.spot {
  width: 2em;
  height: 50px;
  border: 2px solid black;
  gap: 50px;
}

.available {
  background-color: green;
}

.occupied {
  background-color: red;
}
